iconv: iconv(): Illegal byte sequence
⌀ 䘀愀猀琀䄀倀䤀 ྼ 阮 ӕࢸ蓇쳆泐਀昀愀猀琀愀瀀椀㴀㴀　⸀㄀　㐀⸀㄀਀甀瘀椀挀漀爀渀嬀猀琀愀渀搀愀爀搀崀㴀㴀　⸀㈀㐀⸀　਀瀀礀琀栀漀渀ⴀ洀甀氀琀椀瀀愀爀琀㴀㴀　⸀　⸀㘀਀਀⌀ 炳瓇パꂼ瓇꓂਀猀焀氀愀氀挀栀攀洀礀㴀㴀㈀⸀　⸀㈀㌀਀瀀猀礀挀漀瀀最㈀ⴀ戀椀渀愀爀礀㴀㴀㈀⸀㤀⸀㤀਀愀氀攀洀戀椀挀㴀㴀㄀⸀㄀㌀⸀㄀਀਀⌀ 刀攀搀椀猀 ྼ 䌀攀氀攀爀礀਀爀攀搀椀猀㴀㴀㔀⸀　⸀㄀਀挀攀氀攀爀礀㴀㴀㔀⸀㌀⸀㐀਀਀⌀ 䠀吀吀倀 瓐粷瓇룅룒 ྼ ೓਀爀攀焀甀攀猀琀猀㴀㴀㈀⸀㌀㄀⸀　਀戀攀愀甀琀椀昀甀氀猀漀甀瀀㐀㴀㴀㐀⸀㄀㈀⸀㈀਀氀砀洀氀㴀㴀㐀⸀㤀⸀㌀਀਀⌀ 